/* CSS Document */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

:root {
    --verde: #CCE876;
    --azul: #123A4D;
    --gris: #444242;
    --negro: #292B21;
    --blanco: #FCF9F5;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
}

* ul {
    list-style-type: none;
    margin-block: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--negro);
    justify-content: space-between;
    align-items: center;
    height: 95px;
    width: 100%;
    padding: 1.5rem 7.5rem;
}

header img {
    height: 2rem;
    width: auto;
}

nav {
    display: flex;
    gap: 150px;
}

nav section {
    display: flex;
    align-items: center;
    gap: 20px;
    height: auto;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 150px;
    align-items: center;
}

nav li {
    text-transform: capitalize;
}

nav a {
    cursor: pointer;
    color: var(--blanco);
    font-size: 1rem;
    opacity: 50%;
}

nav a:hover {
    opacity: 100%;
}

nav p {
    font-size: 1rem;
    font-weight: 700;
}

main div {
    width: 100%;
}

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

footer section {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    width: 1400px;
    padding: 40px 120px;
}

footer h1 {
    font-size: 1rem;
}

footer ul {
    display: flex;
    justify-content: space-between;
    width: 760px;
}

footer a {
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 50%;
    color: var(--negro);
}

footer a:hover {
    opacity: 100%;
}

.footer-negativo {
    background-color: var(--negro);
    color: var(--blanco);
    width: 100%;
    padding: 30px 120px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

.footer-negativo p {
    opacity: 50%;
    font-size: 1rem;
}

.footer-negativo a {
    opacity: 100%;
}

.flecha-scroll-to-top {
    position: absolute;
    bottom: 15rem;
    right: 7.5rem;
}

.avisos {
    padding: 60px 260px;
    background-color: var(--blanco);
}

.avisos-titulo {
    font-weight: 800;
    font-size: 80px;
    margin-bottom: 40px;
    color: var(--negro);
}

.avisos-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.aviso {
    display: flex;
    max-width: 620px;
    background-color: transparent;
}

.aviso-img {
    width: 200px;
    height: 200px;
}

.aviso-contenido {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
    flex-grow: 1;
}

.aviso-texto h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--negro);
}

.aviso-texto h4 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    color: var(--gris);
}

.aviso-texto p {
    font-size: 16px;
    line-height: 20px;
    color: var(--gris);
}

.aviso-boton {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.aviso-boton button {
    background-color: var(--azul);
    color: var(--blanco);
    border: none;
    padding: 10px 17px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.aviso-boton button:hover {
    background-color: var(--verde);
    color: var(--negro);
}

.aviso-boton button:active {
    background-color: var(--blanco);
    color: var(--verde);
}
